<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/main.css">

    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h2>This app gets zip file and inserts its content to database.</h2>
            <h2>Upload your zip file, enter your username and password.</h2>
            <br />
            <br />
            <input type="file" name="postedFile" />
            <hr />

            <input type="text" placeholder="UserName" name="username" />
            <br />
            <input type="password" placeholder="Password" name="password" />
            <br />

            <button type="submit">Upload</button>
            <br />
            <br />
            <span style="color:yellowgreen">@ViewBag.Message</span>
        }
    </div>
</body>
</html>
